<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background: linear-gradient(to bottom, rgb(253, 219, 0), rgb(0, 0, 0))"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/2a69b018212139.562c5c3107147.png"
        width="100"
        height="70"
        alt="logo"
        class="mx-auto d-block"
      />
    </a>
  </div>
</nav>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card text-white bg-dark mt-4">
      <div class="card-header text-white bg-dark text-center">
        <h3>SIGN UP</h3>
      </div>
      <div class="card-body">
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="" class="col-form-label"
              ><strong>Nombres</strong></label
            >
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Ramón"
            />
          </div>
          <div class="form-group">
            <label for="" class="col-form-label"
              ><strong>Apellidos</strong></label
            >
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Aguirre"
            />
          </div>
          <div class="form-group">
            <label for="" class="col-form-label"
              ><strong>Número de telefono</strong></label
            >
            <input
              type="tel"
              name="phone"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              placeholder="888-009-2837"
            />
          </div>
          <div class="form-group">
            <label for="" class="col-form-label"
              ><strong>Correo electrónico: </strong></label
            >
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="example@email.com"
            />
          </div>
          <div class="form-group">
            <label for="" class="col-form-label"
              ><strong>Contraseña</strong></label
            >
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="password"
            />
          </div>
          <div class="form-group">
            <input type="checkbox" id="docs" name="documentos" value="false" />
            <label for="docs">Entrego sus documentos </label><br />
          </div>
          <button class="btn btn-primary btn-block mt-4" type="submit">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
